

<ion-content>


  <div class="hero"> 
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="hero-text">
      <h1>BBFitnessTracker personalisieren</h1>
      <p>Durch Angabe der Informationen wird gewährt,<br> dass die Daten dieser App  so präzise wie möglich sind. <br> Diese Daten werden nicht an Dritte vergeben.</p>
    </div>
    <div class="modal">
        <ion-item >
          <ion-input  formControlName="age" label="Alter" type="number" placeholder="Keine Angabe" ></ion-input>
        </ion-item>
        
        <ion-item class="validator"
          *ngIf="!form.controls.age.valid  && (form.controls.age.dirty )" >
          <p>Geben Sie ein gültiges Alter ein.</p>
        </ion-item>
        <ion-item>
          <ion-input formControlName="height" label="Größe" type="number" placeholder="Keine Angabe (in cm)"></ion-input>
        </ion-item>
        <ion-item class="validator"
        *ngIf="!form.controls.height.valid  && (form.controls.height.dirty )" >
        <p>Geben Sie eine gültige Größe ein.</p>
      </ion-item>
        <ion-item>
          <ion-input formControlName="weight" label="Gewicht" type="number" placeholder="Keine Angabe (in kg)"></ion-input>
        </ion-item>
        <ion-item class="validator"
        *ngIf="!form.controls.weight.valid  && (form.controls.weight.dirty )" >
        <p>Geben Sie ein gültiges Gewicht ein.</p>
      </ion-item>
        <ion-item>
          <ion-select formControlName="gender" label="Geschlecht" placeholder="Keine Angabe">
          <ion-select-option value=0>Männlich</ion-select-option>
          <ion-select-option value=1>Weiblich</ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item class="validator"
        *ngIf="!form.controls.gender.valid  && (form.controls.gender.dirty )" >
        <p>Geben Sie ein gültiges Geschlecht ein.</p>
      </ion-item>
    
    </div>
    <div class="button">
      <button  [disabled]="!form.valid" type="submit">Fortfahren</button>
    </div>
    </form>
  </div>
</ion-content>
  

