<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"><app-login-button></app-login-button> <app-logout-button></app-logout-button></ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Übersicht</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
<div class="content">
  <div class="header">
  </div>
  <div class="title">
    <p>{{currentDate}}</p>
    <h1>Übersicht</h1>
  </div>
  <div class="date-flex">
    <button (click)="changeView(0)">Täglich</button>
    <button (click)="changeView(1)">Wöchentlich</button>
    <button (click)="changeView(2)">Monatlich</button>
    <button (click)="changeView(3)">Jährlich</button>
  </div>
  <div class="container">
    <section class="grid-container">
      <div class="calories-card">
        <div>
          <h2>{{calories}}</h2>
          <p>{{calorieGoal}}</p>
        </div>
        <div>
          <app-apex-gauge></app-apex-gauge>
        </div>
      </div>
      <div  class="macros-card">
        <app-apex-radialbarchart [color]="'#60C914'" [data]="30"   [label]="'Proteine'"></app-apex-radialbarchart>
      </div>
      <div class="macros-card">
        <app-apex-radialbarchart [color]="'#f0ae59'" [data]="40"  [label]="'Fette'"></app-apex-radialbarchart>
      </div>
      <div class="macros-card">
        <app-apex-radialbarchart [color]="'#ad1e0e'"  [data]="30" [label]="'Carbs'"></app-apex-radialbarchart>
      </div>
      <div class="graph-card">
        <app-apex-linechart [button]="this.view"></app-apex-linechart>
      </div>
    </section>
  </div>
  <div class="macros-button">
    <button (click)="addMacro()">Makros hinzufügen</button>
  </div>
</div>
</ion-content>
