

<ion-content >
  <ion-modal trigger="open-modal" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
   <ng-template >
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Abbrechen</ion-button>
        </ion-buttons>
        <ion-title>Barcode scannen</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Bestätigen</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-input
          label="Gib den Barcode ein"
          labelPlacement="stacked"
          type="text"
          placeholder="keine Angabe"
          [(ngModel)]="barcode"
        ></ion-input>
    </ion-content>
   </ng-template>
   
  </ion-modal>
  <div class="hero">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="hero-text">
      <h1>Makros hinzufügen</h1>
      <p>Gib deine Einnahmen ein, um sie in der Datenbank zu persistieren.</p>
    </div>
    <div class="modal">
      <ion-item >
        <ion-input  formControlName="calories" label="Kalorien" type="number" placeholder="Keine Angabe(kcal)" ></ion-input>
     </ion-item>
      <ion-item >
       <ion-input formControlName="proteins"  label="Proteine" type="number" placeholder="Keine Angabe(g)" ></ion-input>
      </ion-item>
     <ion-item >
      <ion-input  formControlName="fats" label="Fette" type="number" placeholder="Keine Angabe(g)" ></ion-input>
     </ion-item>
      <ion-item >
        <ion-input  formControlName="carbs" label="Kohlenhydrate" type="number" placeholder="Keine Angabe(g)" ></ion-input>
      </ion-item>
     </div>
      <div class="button">
       <button  [disabled]="!form.valid" type="submit">Speichern</button>
      </div>
      <div class="icon">
        <button id="open-modal"><ion-icon name="barcode-outline"></ion-icon></button>
      </div>
    </form>
  </div>
</ion-content>
